.activity-entry .status {
	line-height: 1.6;
}

.alextras--activity-score-container {
	background-color: rgb(var(--color-background));
	color: rgb(var(--color-text));
	padding: 0.3em 0.5em;
	border-radius: 3px;
	margin-left: 0.25em;
}