.alextras--hide {
	display: none !important;
}

/* View Toggles */

.alextras--view-switch-toggle {
	float: right;

	span {
		cursor: pointer;

		&.alextras--active {
			color: rgb(var(--color-blue))
		}
	}
}

/* Tooltips */

.alextras--tooltip {
	position: absolute;
	transform: translateX(-50%) translateY(-100%);
	color: #fff;
	background-color: #303133;
	width: max-content;
	max-width: 60vw;
	font-size: 12px;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	opacity: 0;
	z-index: 1000;
	pointer-events: none;
	transition-duration: 350ms;

	span {
		line-height: 1.2;
		white-space: pre-line;
	}

	.alextras--tooltip-arrow {
		position: absolute;
		bottom: -9px;
		left: 50%;
		transform: translateX(-50%);
		border-width: 10px 10px 0 10px;
		border-style: solid;
		border-color: #303133 transparent transparent transparent;
		z-index: 1000;
		pointer-events: none;
	}
}

$inputMargins: 0px 1em 1em 0;

@mixin input-label {
	h2 {
		margin-bottom: 0.5em !important;
	}
}

@mixin input-description {
	h5 {
		color: rgb(var(--color-text-light));
		margin: 0.5em 0 0 0.2em;
		font-size: 0.7em;
		user-select: none;
		@content;
	}
}

@mixin input-error {
	.el-input__error {
		font-size: 11px;
		color: rgb(var(--color-red));
		margin: 0.4em 0 0 0.2em;

		&:empty {
			display: none;
		}
	}
}

.alextras--checkbox {
	margin: $inputMargins;

	@include input-description {
		margin-left: 2.2em;
	}

	.el-checkbox__inner {
		background: rgb(var(--color-background-300));
		border-color: rgb(var(--color-background-300))
	}
}

.alextras--switch {
	margin: $inputMargins;

	@include input-description {
		margin-left: 4.5em;
	}

	.el-switch__core {
		background: rgb(var(--color-background-300));
		border-color: rgb(var(--color-background-300))
	}

	.el-switch__label:not(.is-active) {
		color: rgb(var(--color-text));
	}
}

.alextras--input {
	margin: $inputMargins;

	@include input-label;
	@include input-description;

	input.el-input__inner {
		background: rgba(var(--color-background), .6);

		&[type="number"] {
			-moz-appearance: textfield;
			appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

		&[type="color"] {
			padding: 0.3em;
			width: 3em;
			height: 3em;
			cursor: pointer;

			&::-webkit-color-swatch-wrapper {
				padding: 0;
			}

			&::-webkit-color-swatch {
				border-color: rgb(var(--color-background-300));
				border-radius: 4px;
			}

			&::-moz-color-swatch {
				border-color: rgb(var(--color-background-300));
				border-radius: 4px;
			}
		}

		&::placeholder {
			color: rgb(var(--color-text-light));
		}
	}

	@include input-error;
}

.alextras--textarea {
	margin: $inputMargins;

	@include input-label;
	@include input-description;

	textarea.el-textarea__inner {
		background: rgba(var(--color-background), .6);

		&::placeholder {
			color: rgb(var(--color-text-light));
		}
	}

	@include input-error;
}

.alextras--dropdown {
	margin: $inputMargins;

	@include input-label;
	@include input-description;

	option {
		background: rgba(var(--color-background));
	}

	.el-input {
		width: max-content;

		&:after {
			content: "▾";
			position: absolute;
			right: 10px;
			top: 9px;
			font-size: 20px;
			pointer-events: none;
		}
	}

	.el-input__inner {
		width: auto;
		padding-right: 35px;
		background: rgba(var(--color-background), .6);
	}
}